.modalRandomGame {
  display: grid;
  grid-template-columns: 1fr 20rem;
  gap: 1.6rem;
}

.subtitle {
  font-size: 1.6rem;
  margin-bottom: 1.6rem;
}

.couponList{
  display: flex;
  flex-direction: column;
  gap: 1.6rem;
  min-width: 25rem;
}
