.couponsSection {
  display: flex;
  flex-direction: column;
  gap: 2.4rem;
}

.sectionTitle {
  @include font-h2;
  margin-bottom: 2rem;
}

.subtitle {
  @include font-h3;
}

.integrationVariant {
  @include size(100%);
  position: relative;

  & > img {
    width: inherit;
    object-fit: contain;
    opacity: .3;
  }
}

.randomModalWrapper {
  position: absolute;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
  width: 100px;
  height: 100px;
  background: green;
}

.couponBlock {
  position: absolute;
  top: 22.5%;
  right: 8.5%;
  z-index: 2;
  @include size(23rem, 10rem);

  @include media-width(1440) {
    @include size(22rem, 9.5rem);
  }

  @include media-width(1280) {
    @include size(17rem, 7rem);
  }
}

.spinerRandomGame {
  position: absolute;
  bottom: 27%;
  right: 10rem;
  z-index: 2;
  background-color: $color-violet;
  border-radius: 1rem;
  @include size(24rem, 26rem);

  @include media-width(1440) {
    bottom: 28%;
    @include size(22rem, 23.5rem);
  }

  @include media-width(1280) {
    right: 7.5rem;
    @include size(17.6rem, 16rem);
  }
}
