.caseItem{
  @include size(100%);
  position: relative;

  & > img {
    width: inherit;
    object-fit: contain;
    opacity: .3;
  }
}

.sectionTitle{
  @include font-h2;
  margin-bottom: 2rem;
}

.subtitle {
 @include font-h3;
}
