@mixin size($width, $height: $width) {
  width: $width;
  height: $height;
}

@mixin transit($time, $func, $properties...) {
  $change: ();
  $transition: ();

  @each $property in $properties {
    $change: append($change, $property, $separator: comma);
    $transition: append(
                    $transition,
                            ($property $time $func),
            $separator: comma
    );
  }

  transition: $transition;
}
