@mixin media-width($width, $type: max) {
  @if $type == max {
    $width: $width - 1px;
  }

  @media only screen and (#{$type}-width: $width) {
    @content;
  }
}

@mixin has-hover {
  @media (hover: hover) {
    &:hover {
      @content
    }
  }
}

@mixin size($width, $height: $width) {
  width: $width;
  height: $height;
}

@mixin transit($time, $func, $properties...) {
  $change: ();
  $transition: ();

  @each $property in $properties {
    $change: append($change, $property, $separator: comma);
    $transition: append(
                    $transition,
                            ($property $time $func),
            $separator: comma
    );
  }

  transition: $transition;
}

@mixin font-h2 {
  font-size: 3.2rem;
  line-height: 3.6rem;
}

@mixin font-h3 {
  font-size: 2.4rem;
  line-height: 2.8rem;
}

@mixin font-btn {
  font-size: 1.8rem;
  line-height: 2.2rem;
}

