$color-white: #fff;
$color-yellow: #ffce19;
$color-red: #e80012;
$color-violet: #580077;
$color-black: #000;
$color-grey-900: #0a0a0a;
$color-grey-500: #141414;
$color-grey-300: #1c1c1c;
$color-common-bg: $color-grey-300;

$z-index-modal: 100;
