.couponWrapper {
  position: relative;
  width: 400px;
  height: 180px;
  border-radius: 1rem;
  background-color: #FFCE19;
  padding: 1rem 2rem;
  display: flex;
  gap: .5rem;

  &::before {
    position: absolute;
    content: "";
    height: 40px;
    left: -2.5rem;
    border-radius: 40px;
    z-index: 1;
    top: 70px;
    background-color: $color-grey-900;
    width: 40px;
  }

  &::after {
    position: absolute;
    content: "";
    height: 40px;
    right: -2.5rem;
    border-radius: 40px;
    z-index: 1;
    top: 70px;
    background-color: $color-grey-900;
    width: 40px;
  }
}

.couponBonus {
  @include size(100%);
  position: relative;
  display: flex;
  align-items: center;
  justify-content: center;

  &:disabled {
    cursor: inherit;
  }
}

.couponScratch {
  position: absolute;
  left: 50%;
  transform: translateX(-50%);
}

.couponScratched {
  display: none;
}

.winText {
  font-size: 2rem;
}
